.main {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  height: 80%;
  width: 80%;

  .children {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    overflow-y: scroll;
  }
}
