.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  // align-self: center;
  // margin: auto;

  .children {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    overflow-y: scroll;
  }
}
