@import '../../variables.scss';

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 8px;
  font-size: 20px;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;

  &.primary {
    border: 0;
    background: $material-blue;
    color: $white;
    transition: filter 200ms;

    &:hover {
      filter: brightness(85%)
    }

    &:active {
      filter: brightness(110%)
    }
  }

  &.secundary {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    display: inline-block;
    text-align:center;
  }
}

