.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.questionInfo {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 16px;
  font-weight: bold;
}

.descripiton {
  font-size: 16px;
}

.questionCard {
  margin-bottom: 16px;
}

.loader {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}
