@import '../../../variables.scss';

.pageLayout {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.questionInfo {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 16px;
  font-weight: bold;
}

.descripiton {
  font-size: 16px;
}

.questionCard {
  margin-bottom: 16px;
}

.loader {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  position: sticky;
  bottom: 0;
  height: 76px;
  width: calc(100% - 36px);
  padding: 14px 30px;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.12);
}

.footerTransition {
  &-enter  {
    opacity: 0;
    transform: translateY(100px);
  }
  &-enter-active  {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms, transform 200ms;
  }
  &-exit  {
    opacity: 1;
  }
  &-exit-active  {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 200ms, transform 200ms;
  }
}

.confirmButton {
  flex: 1;
}
