@import '../../variables.scss';

.container {
  height: calc(56px - 2 * 18px);
  padding: 18px 24px;
  font-size: 20px;
  background-color: $dark-blue;
  color: $white;
  font-weight: bold;
  display: flex;
  align-items: center;
}
