@import '../../variables.scss';

.container {
  height: 56px;
  padding: 18px 24px;
  font-size: 20px;
  background-color: $dark-blue;
  color: $white;
  font-weight: bold;
  display: flex;

  .title {
  }
}
